@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0, 0%, 17%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 167, 98%, 39%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 98%;

    --card: 0, 0%, 16%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 17%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 167, 98%, 39%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    .vector1 {
      z-index: 0;
      position: absolute;
      width: 80%;
      height: 80%;
      transform: rotate(8.26deg);
      flex-shrink: 0;
      filter: blur(90px);
      fill: linear-gradient(180deg, #111 0%, #00A896 99.68%);
    }

    .vector2 {
      z-index: 0;
      position: absolute;
      width: 80%;
      height: 80%;
      transform: rotate(173.26deg);
      flex-shrink: 0;
      filter: blur(90px);
      fill: linear-gradient(180deg, #111 0%, #02C39A 100%);
    }
  }
}

@layer utilities {
  .pause {
    animation-play-state: paused;
  }
}